<% content_for :title do %>Rails Bootstrap<% end %>
<% content_for :description do %>Rails Bootstrap Example<% end %>
<div id="myCarousel" class="carousel slide">
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="item active">
<%= image_tag "yearproject-1970.jpg" %>
<div class="carousel-caption text-center">
<h4><%= Visitor::IMAGE_LABELS[0] %></h4>
</div>
</div>
<div class="item">
<%= image_tag "yearproject-1971.jpg" %>
<div class="carousel-caption text-center">
<h4><%= Visitor::IMAGE_LABELS[1] %></h4>
</div>
</div>
<div class="item">
<%= image_tag "yearproject-1980.jpg" %>
<div class="carousel-caption text-center">
<h4><%= Visitor::IMAGE_LABELS[2] %></h4>
</div>
</div>
</div>
</div>
<div class="text-center">
<h5>Select a Favorite</h5>
<%= simple_form_for @visitor do |f| %>
<%= f.error_notification %>
<%= f.input :favorite, :collection => Visitor::IMAGE_LABELS, label: false, as:
:radio_buttons, :item_wrapper_class => 'inline' %>
<%= f.input :comment, label: false, :placeholder => 'Add a comment...' %>
<%= f.submit "Choose!", :class => "btn btn-primary"%>
<% end %>
</div>